<!doctype html>
<html>

<head>
  <title>Euphoria</title>
  <% if (htmlWebpackPlugin.options.NODE_ENV !== 'development') { %>
    <link href="//unpkg.com/euphoria/dist/euphoria.min.css" rel="stylesheet" type="text/css"
    />
    <% } %>
</head>

<body class='p-none m-none'>
  <div class='docs'></div>
</body>

</html>