<!doctype html>
<html>

<head>
  <title>Euphoria</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,900|Mogra" rel="stylesheet">
</head>

<body class='p-none m-none'>
  <div class='examples'></div>
</body>

</html>